Repository mattrussi/gitlab-com-runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent, @gitlab-com/runner-group/saas, @gitlab-org/reliability, @gitlab-org/search-team/migration-maintainers, @gitlab-org/scalability/observability

Revert "Merge branch '801-remove-aigw-igress-error-ratio' into 'master'"
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Owners: none

fix: remove environment filter in template.webserviceTypes query
  libsonnet/grafana/templates.libsonnet
Owners: none

Update playbook
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
Owners: none

docs: adding the amp docs with relation to cell
  docs/about/README.md
  docs/cells/README.md
  docs/cells/amp.md
  docs/kas/README.md
Owners: none

add nordlayer section, explicitly link the terraform state in the AMP
  docs/cells/amp.md
Owners: none

chore: Do not keep aggregate capacity warning issue for redis-sidekiq
  metrics-catalog/services/redis-sidekiq.jsonnet
Owners: none

feat: Change ILM to hot/cold/frozen with recommended rollover dates.
  elastic/managed-objects/log_gprd/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Owners: none

Apply 1 suggestion(s) to 1 file(s)
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Owners: none

fix: Whitespace.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Owners: none

Notes added by 'git notes add'
  8cde283fa8fcef11e0ec8d1e67180378e02f7836
Owners: none

feat(logging)wq: Re-add the total_shards_per_node.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Owners: none

Notes added by 'git notes add'
  87f38716e98e6055aa7594733236234dc91333ee
Owners: none

add the link for the bootstraping process
  docs/cells/amp.md
Owners: none

fix(alerts): make sure clickhouse alerts have a team label
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
  services/teams.yml
Owners: none

Notes added by 'git notes add'
  197266ee9d877478d6ca420911f5481c76089e03
Owners: none

Add doc for patching-notifier
  docs/security-patching/linux-os/notifications.md
Owners: none

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.17.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

Markdown lint
  docs/security-patching/linux-os/notifications.md
Owners: none

Markdown lint
  docs/security-patching/linux-os/notifications.md
Owners: none

chore: Add CiRunnuerJobsApdexSLOViolationSingleShard alert playbook
  docs/ci-runners/README.md
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
  docs/ci-runners/img/ci_runner_apdex_recovering.png
  docs/ci-runners/img/ci_runner_cpu_saturation.png
  docs/ci-runners/img/ci_runner_jobs_sli.png
  docs/ci-runners/img/ci_runner_logs.png
  docs/ci-runners/img/ci_runner_queuing.png
Owners: @gitlab-com/runner-group/saas, @gitlab-org/reliability

Notes added by 'git notes add'
  4a0546718ee2d2053abf584bf23828ce54422c29
Owners: none

Update linux patching docs with Ubuntu Pro requirements
  docs/security-patching/linux-os/linux-os-patching.md
Owners: none

Typos and formatting
  docs/security-patching/linux-os/linux-os-patching.md
Owners: none

chore(clickhouse-cloud): Revert error SLOs to 99.5
  metrics-catalog/services/clickhouse-cloud.jsonnet
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
Owners: none

feat: Add back in a short warm tier to workaround Elastic bug.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Owners: none

fix: some minior fixes
  docs/hosted-runners/usage_replication_error.md
Owners: none

Add doc for patching-notifier
  docs/security-patching/linux-os/notifications.md
Owners: none

feat: change the script
  reference-architectures/get-hybrid/config/dashboards/logging.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  scripts/generate-reference-architecture-config.sh
Owners: none

feat: change the script
  docs/hosted-runners/usage_replication_error.md
  scripts/generate-reference-architecture-config.sh
Owners: none

feat: change the script
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/replications.libsonnet
  mixins-monitoring/hosted-runners/services/logging.libsonnet
Owners: none

Notes added by 'git notes add'
  e9c4ff136e2685cdd457fd392c2f02d1d2e37657
Owners: none

feat: change the script
  .gitlab-ci.yml
Owners: none

feat: change the script
  docs/hosted-runners/README.md
  docs/hosted-runners/logging_service_usage_logs_error.md
Owners: none

feat: change the script
  docs/logging/README.md
  docs/search/README.md
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
Owners: none

feat: Update number of shards in advance of shrinking hot tier.
  elastic/managed-objects/lib/settings_gprd.libsonnet
Owners: none

feat: change the script
  .gitlab-ci.yml
Owners: none

Notes added by 'git notes add'
  ae2c48047bbfd27418d92c2089b0ad2ce6161ca0
Owners: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.62
  .gitlab-ci.yml
  .pre-commit-config.yaml
Owners: none

review suggestions on the style and wordings
  docs/cells/amp.md
Owners: none

add the auto-generated content
  docs/about/README.md
  docs/kas/README.md
Owners: none

CODEOWNERS:

# CODEOWNERS for versioning-related files.
# Original discussion around reviewers from
# See https://gitlab.com/gitlab-com/runbooks/-/issues/96#note_975210568
#
# NOTE: Although a group would be much more convenient here, GitLab doesn't support
# Assigning MRs to groups (see https://gitlab.com/gitlab-org/gitlab/-/issues/197169)
# and Renovate doesn't support resolving from groups to users
# (https://github.com/renovatebot/renovate/issues/14777)
.tool-versions @andrewn @pguinoiseau @sxuereb @jarv @reprazent
.gitlab-ci-asdf-versions.yml @andrewn @pguinoiseau @sxuereb @jarv @reprazent
docs/ci-runners/* @gitlab-com/runner-group/saas @gitlab-org/reliability
docs/zoekt/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
docs/elastic/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
mimir-rules/* @gitlab-org/scalability/observability
mimir-rules-jsonnet/* @gitlab-org/scalability/observability
