Repository mattrussi/gitlab-com-runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent, @gitlab-com/runner-group/saas, @gitlab-org/reliability, @gitlab-org/search-team/migration-maintainers, @gitlab-org/scalability/observability

Add pg-decomp dashboard based on pg-upgrade dashboard
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Owners: none

Add link for CI abuse by user
  docs/ci-runners/ci-abuse-handling.md
Owners: @gitlab-com/runner-group/saas, @gitlab-org/reliability

feat: enable time series panel support for sidekiq dashboards
  dashboards/sidekiq/bitbucket-importer.dashboard.jsonnet
  dashboards/sidekiq/bitbucket-server-importer.dashboard.jsonnet
  dashboards/sidekiq/loose-foreign-keys.dashboard.jsonnet
  dashboards/sidekiq/shard-detail.dashboard.jsonnet
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Owners: none

feat: enable time series panel support for runway dashboards
  dashboards/runway/job.dashboard.jsonnet
  dashboards/runway/loadbalancer.dashboard.jsonnet
  dashboards/runway/service.dashboard.jsonnet
Owners: none

feat: enable time series panel support for sentry dashboards
  dashboards/sentry/events.dashboard.jsonnet
  dashboards/sentry/main-kube.dashboard.jsonnet
Owners: none

feat: enable time series panel support for kas dashboards
  dashboards/kas/ci-tunnel.dashboard.jsonnet
  dashboards/kas/gitops.dashboard.jsonnet
  dashboards/kas/kube.shared.jsonnet
  dashboards/kas/misc.dashboard.jsonnet
  dashboards/kas/pod.dashboard.jsonnet
  dashboards/kas/redis.dashboard.jsonnet
Owners: none

feat: enable time series panel support for gitaly dashboards
  dashboards/gitaly/feature-status.dashboard.jsonnet
  dashboards/gitaly/host-detail.dashboard.jsonnet
  dashboards/gitaly/multi-project-move.jsonnet
  dashboards/gitaly/rebalancing.dashboard.jsonnet
  dashboards/kas/ci-tunnel.dashboard.jsonnet
  dashboards/kas/redis.dashboard.jsonnet
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/gatekeeper.dashboard.jsonnet
  dashboards/registry/notifications.dashboard.jsonnet
  dashboards/registry/redis.dashboard.jsonnet
  libsonnet/gitlab-dashboards/gitaly/adaptive_limit.libsonnet
  libsonnet/gitlab-dashboards/gitaly/cgroup.libsonnet
  libsonnet/gitlab-dashboards/gitaly/command_stats.libsonnet
  libsonnet/gitlab-dashboards/gitaly/pack_objects.libsonnet
  libsonnet/gitlab-dashboards/gitaly/per_rpc.libsonnet
  libsonnet/gitlab-dashboards/saturation_detail.libsonnet
Owners: none

feat: enable time series panel support for general dashboards
  dashboards/general/application-demand.dashboard.jsonnet
  dashboards/general/availability-indicator.dashboard.jsonnet
  dashboards/general/egress_ingress.dashboard.jsonnet
  dashboards/general/fs.dashboard.jsonnet
  dashboards/general/incident-budget-explorer.dashboard.jsonnet
  dashboards/general/kubernetes_version.dashboard.jsonnet
  dashboards/general/mtbf.dashboard.jsonnet
  dashboards/general/occurence-slas.jsonnet
  dashboards/general/slas.dashboard.jsonnet
  dashboards/general/triage.dashboard.jsonnet
  dashboards/google-cloud-storage/artifacts-cdn.dashboard.jsonnet
  dashboards/importers/github-importer.dashboard.jsonnet
  dashboards/monitoring/prometheus-cardinality.dashboard.jsonnet
  dashboards/nat/detail.dashboard.jsonnet
  dashboards/patroni/marginalia-sampler.dashboard.jsonnet
  dashboards/postgresql/pg-upgrade.dashboard.jsonnet
  dashboards/search/zoekt.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
  libsonnet/gitlab-dashboards/node_metrics.libsonnet
  libsonnet/gitlab-dashboards/occurrence-sla-dashboard.libsonnet
  libsonnet/gitlab-dashboards/rails_controller_common.libsonnet
  libsonnet/grafana/time-series/override.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Owners: none

fix: exclude workhorse from service aggregation in the GET-hybrid
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Owners: none

chore: add runway staging and production to kubernetes clusters list
  kubernetes/clusters.json
Owners: none

feat: Add postgres IDs sequence capacity saturation monitoring
  libsonnet/saturation-monitoring/pg_id_sequences.libsonnet
  metrics-catalog/saturation/all.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Owners: none

chore(deps): update dependency json to v2.10.2
  Gemfile.lock
Owners: none

chore(deps): update grafana/mimirtool docker tag to v2.15.1
  Dockerfile
Owners: none

feat(deps): update dependency kubectl to v1.32.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

feat(deps): update dependency kubernetes/kubernetes to v1.32.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

feat(deps): update terraform monorepo to v1.11.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

chore(deps): update dependency google-cloud-resource_manager to v1
  scripts/disaster-recovery/Gemfile.lock
Owners: none

Add glql_query sli definition
  metrics-catalog/gitlab-slis/library.libsonnet
Owners: none

Apply feedback
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
  services/teams.yml
Owners: none

chore: typo fixed + make generate
  metrics-catalog/services/api.jsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Owners: none

Add rails_glql to index catalog
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
Owners: none

Update api.jsonnet
  metrics-catalog/services/api.jsonnet
Owners: none

Add missing comma
  metrics-catalog/services/api.jsonnet
Owners: none

Update GLQL SLI definition description and run make generate
  metrics-catalog/gitlab-slis/library.libsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
Owners: none

Run make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Owners: none

Import matching libsonnet and rename glql_query to glql
  metrics-catalog/services/api.jsonnet
Owners: none

Make changes to comments
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
Owners: none

Run make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
Owners: none

remove references to old env aws-snowplow
  docs/uncategorized/snowplow/README.md
Owners: none

disable tenant alerts
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
Owners: none

cleanup indendation
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/rules.yaml
Owners: none

docs: Add documentation for the cells render-debug.sh script
  docs/cells/infra-development.md
Owners: none

update mimir metamonitoring rules
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
Owners: none

Run generate steps
  docs/amp/README.md
  docs/cells/infra-development.md
  docs/version/README.md
Owners: none

Apply MR formatting suggestions
  docs/cells/infra-development.md
Owners: none

Add more detail on the mermaid diagram and steps.
  docs/cells/infra-development.md
Owners: none

Remove extra newlines
  docs/cells/infra-development.md
Owners: none

Add link for CI abuse by user
  docs/ci-runners/ci-abuse-handling.md
Owners: @gitlab-com/runner-group/saas, @gitlab-org/reliability

Update based on MR feedback
  docs/cells/infra-development.md
Owners: none

Add pg-decomp dashboard based on pg-upgrade dashboard
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Owners: none

CODEOWNERS:

# CODEOWNERS for versioning-related files.
# Original discussion around reviewers from
# See https://gitlab.com/gitlab-com/runbooks/-/issues/96#note_975210568
#
# NOTE: Although a group would be much more convenient here, GitLab doesn't support
# Assigning MRs to groups (see https://gitlab.com/gitlab-org/gitlab/-/issues/197169)
# and Renovate doesn't support resolving from groups to users
# (https://github.com/renovatebot/renovate/issues/14777)
.tool-versions @andrewn @pguinoiseau @sxuereb @jarv @reprazent
.gitlab-ci-asdf-versions.yml @andrewn @pguinoiseau @sxuereb @jarv @reprazent
docs/ci-runners/* @gitlab-com/runner-group/saas @gitlab-org/reliability
docs/zoekt/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
docs/elastic/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
mimir-rules/* @gitlab-org/scalability/observability
mimir-rules-jsonnet/* @gitlab-org/scalability/observability
