Repository mattrussi/gitlab-com-runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent, @gitlab-com/runner-group/saas, @gitlab-org/reliability, @gitlab-org/search-team/migration-maintainers, @gitlab-org/scalability/observability

docs: add cells patching guide
  docs/cells/patching.md
Owners: none

feat: Adding custom thresholds for sidekiq workers
  libsonnet/recording-rules/sidekiq-jobs-slos.libsonnet
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
Owners: none

Notes added by 'git notes add'
  d64a694863458344e89d65abc3359e8cc8246126
Owners: none

Remove patroni-embedding and pgbouncer-embedding docs from runbooks
  docs/patroni-embedding/README.md
  docs/pgbouncer-embedding/README.md
Owners: none

Remove metrics-catalog/services/patroni-embedding.jsonnet
  metrics-catalog/services/patroni-embedding.jsonnet
Owners: none

Remove metrics-catalog for pgbouncer-embedding
  metrics-catalog/services/pgbouncer-embedding.jsonnet
Owners: none

Remove dashboard references for patroni and pgbouncer embedding
  dashboards/patroni-embedding/main.dashboard.jsonnet
  dashboards/pgbouncer-embedding/main.dashboard.jsonnet
Owners: none

Remove embedding references from services/service-catalog.yml
  services/service-catalog.yml
Owners: none

Remove embedding references from metrics-catalog/services/all.jsonnet
  metrics-catalog/services/all.jsonnet
Owners: none

Remove embedding references from pgbouncer_stats_queries_pooled_total in docs/patroni/patroni-management.md
  docs/patroni/patroni-management.md
Owners: none

Remove embedding references on alerts of walgBackupDelayed
  libsonnet/alerts/walg-backups-alerts.libsonnet
Owners: none

Remove embedding references for security patching docs
  docs/security-patching/linux-os/systems/patroni.md
  docs/security-patching/linux-os/systems/pgbouncer.md
Owners: none

Remove patroni and pgbouncer embedding references from libsonnnet saturation-monitoring
  libsonnet/saturation-monitoring/pgbouncer_client_connections.libsonnet
Owners: none

Fix the wrong link to advanced search runbook
  README.md
Owners: none

Remove embedding references on alerts of walgBackupDelayed
  libsonnet/alerts/walg-backups-alerts.libsonnet
Owners: none

chore: Add a troubleshooting page
  docs/ci-runners/remove-broken-runners.md
  docs/ci-runners/runners_manager_is_down.md
  docs/ci-runners/troubleshooting-guide.md
Owners: @gitlab-com/runner-group/saas, @gitlab-org/reliability

fix: the sequence and update instruction to get the MR merged in cell provisioning
  docs/cells/provisioning.md
Owners: none

Notes added by 'git notes add'
  433d3fb7dd85344c9efb15dba8f804f00fe25b98
Owners: none

Update web IDE doc and tooling links
  docs/gitlab-static/web-ide-assets.md
  metrics-catalog/services/gitlab-static.jsonnet
Owners: none

docs: update the development process to be simpler, and add validation docs
  docs/cells/infra-development.md
  docs/cells/validate.md
  docs/gitaly/README.md
  docs/version/README.md
Owners: none

add a note about the instrumentor review requirements and remove the mid thought comment
  docs/cells/infra-development.md
  docs/cells/validate.md
Owners: none

fix: make sure the prometheus datastore uses the default for the service
  libsonnet/gitlab-dashboards/platform_links.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Owners: none

chore: removing Ai::RepositoryXray::ScanDependenciesWorker specific alert
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Owners: none

feat: custom error rate per worker
  libsonnet/recording-rules/sidekiq-jobs-slos.libsonnet
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Owners: none

chore: remove basic.graphPanel usage
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
  dashboards/delivery/auto_deploy_packages.jsonnet
  dashboards/delivery/delivery_metrics.jsonnet
  dashboards/delivery/deployment_health.dashboard.jsonnet
  dashboards/delivery/deployment_slo.dashboard.jsonnet
  dashboards/delivery/rollback_info.dashboard.jsonnet
  dashboards/general/egress_ingress.dashboard.jsonnet
  dashboards/general/kubernetes_version.dashboard.jsonnet
  dashboards/general/triage.dashboard.jsonnet
  dashboards/logging/main.dashboard.jsonnet
  dashboards/monitoring/main.dashboard.jsonnet
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
  dashboards/postgresql/pg-upgrade.dashboard.jsonnet
  dashboards/registry/notifications.dashboard.jsonnet
  dashboards/registry/redis.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/node_metrics.libsonnet
  libsonnet/key-metric-panels/apdex-panel.libsonnet
  libsonnet/key-metric-panels/error-ratio-panel.libsonnet
  libsonnet/key-metric-panels/operation-rate-panel.libsonnet
  libsonnet/key-metric-panels/utilization-rates-panel.libsonnet
Owners: none

review suggestion for the style
  docs/cells/infra-development.md
  docs/cells/validate.md
Owners: none

Notes added by 'git notes add'
  9ec1509ac82667b20d6419386ef581592c476d1b
Owners: none

docs: add a note about requiring approval
  docs/cells/breakglass.md
Owners: none

Update file code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Owners: none

run generate docs
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/availability-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/kube-state-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/sli-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Owners: none

a
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/availability-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/kube-state-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/sli-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Owners: none

Edit code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Owners: none

new version of postgres-ai dashboards for exporter version 3_41_0
  dashboards/postgres-ai/NEW_postgres_ai_02.json
  dashboards/postgres-ai/NEW_postgres_ai_03.json
  dashboards/postgres-ai/NEW_postgres_ai_04.json
  dashboards/postgres-ai/node-performance-overview.json
Owners: none

chore(deps): update dependency optimist to v3.2.1
  scripts/disaster-recovery/Gemfile.lock
Owners: none

chore(deps): update docker docker tag to v28.0.2
  .gitlab-ci.yml
Owners: none

feat(deps): update dependency pre-commit to v4.2.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

feat(deps): update dependency pre-commit/pre-commit to v4.2.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

Updating EoC checklist
  on-call/checklists/eoc.md
Owners: none

Notes added by 'git notes add'
  0b7d0031cce019ca54fe9b037807b4c9977a8608
Owners: none

Notes added by 'git notes add'
  5c1d4626786809dca4167485210ac335a9d364f1
Owners: none

CODEOWNERS:

# CODEOWNERS for versioning-related files.
# Original discussion around reviewers from
# See https://gitlab.com/gitlab-com/runbooks/-/issues/96#note_975210568
#
# NOTE: Although a group would be much more convenient here, GitLab doesn't support
# Assigning MRs to groups (see https://gitlab.com/gitlab-org/gitlab/-/issues/197169)
# and Renovate doesn't support resolving from groups to users
# (https://github.com/renovatebot/renovate/issues/14777)
.tool-versions @andrewn @pguinoiseau @sxuereb @jarv @reprazent
.gitlab-ci-asdf-versions.yml @andrewn @pguinoiseau @sxuereb @jarv @reprazent
docs/ci-runners/* @gitlab-com/runner-group/saas @gitlab-org/reliability
docs/zoekt/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
docs/elastic/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
mimir-rules/* @gitlab-org/scalability/observability
mimir-rules-jsonnet/* @gitlab-org/scalability/observability
