Repository mattrussi/gitlab-com-runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent, @gitlab-com/runner-group/saas, @gitlab-org/reliability, @gitlab-org/search-team/migration-maintainers, @gitlab-org/scalability/observability

CODEOWNERS:

# CODEOWNERS for versioning-related files.
# Original discussion around reviewers from
# See https://gitlab.com/gitlab-com/runbooks/-/issues/96#note_975210568
#
# NOTE: Although a group would be much more convenient here, GitLab doesn't support
# Assigning MRs to groups (see https://gitlab.com/gitlab-org/gitlab/-/issues/197169)
# and Renovate doesn't support resolving from groups to users
# (https://github.com/renovatebot/renovate/issues/14777)
.tool-versions @andrewn @pguinoiseau @sxuereb @jarv @reprazent
.gitlab-ci-asdf-versions.yml @andrewn @pguinoiseau @sxuereb @jarv @reprazent
docs/ci-runners/* @gitlab-com/runner-group/saas @gitlab-org/reliability
docs/zoekt/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
docs/elastic/* @gitlab-org/search-team/migration-maintainers @gitlab-org/reliability
mimir-rules/* @gitlab-org/scalability/observability
mimir-rules-jsonnet/* @gitlab-org/scalability/observability

change expression for elasticsearch cluster health
  mimir-rules/gitlab-gprd/logging/elastic-clusters.yml
Owners: none

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
Owners: none

Notes added by 'git notes add'
  86ce2ca3e2067771c28d0e395b679db28a403eef
Owners: none

Notes added by 'git notes add'
  8fe96955dbd204fc34a6a15478c550a7d0705249
Owners: none

Notes added by 'git notes add'
  a68dad0622b73feb2e00cd61edf37c79445debc8
Owners: none

Notes added by 'git notes add'
  36f99901723d3fc135167999f871be81a922193b
Owners: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.57
  .gitlab-ci.yml
  .pre-commit-config.yaml
Owners: none

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Owners: none

chore: make generate
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
Owners: none

Notes added by 'git notes add'
  81e506cf997ec849c46d103794d9f9c324053d77
Owners: none

chore: redis-sidekiq saturation dimensions
  metrics-catalog/services/redis-sidekiq.jsonnet
Owners: none

fix: update Workhorse matchers to use route instead of route_id
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Owners: none

Notes added by 'git notes add'
  41ee537687fd6c1fe7c1b2b8ebf52cc8c10956ac
Owners: none

feat(deps): update dependency prometheus/prometheus to v3.2.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Owners: @andrewn, @pguinoiseau, @sxuereb, @jarv, @reprazent

fix(deps): lock file maintenance
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
Owners: none

Notes added by 'git notes add'
  4e3661a2e94743dda7bb5ef6faf591dea19ff674
Owners: none

Revert "Merge branch 'sh-use-workhorse-route-id' into 'master'"
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Owners: none

fix: revert Workhorse conversion from route to route_id
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Owners: none

Notes added by 'git notes add'
  04eb106563fa1659af56d69ea33a33f02dcc73be
Owners: none

chore(clickhouse): Add ClickHouse read failures alert
  mimir-rules/gitlab-gprd/clickhouse/clickhouse.yml
  mimir-rules/gitlab-gstg/clickhouse/clickhouse.yml
Owners: none

chore: Add CiRunnuerJobsApdexSLOViolationSingleShard alert playbook
  docs/ci-runners/README.md
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
  docs/ci-runners/img/ci_runner_apdex_recovering.png
  docs/ci-runners/img/ci_runner_cpu_saturation.png
  docs/ci-runners/img/ci_runner_jobs_sli.png
  docs/ci-runners/img/ci_runner_logs.png
  docs/ci-runners/img/ci_runner_queuing.png
Owners: @gitlab-com/runner-group/saas, @gitlab-org/reliability

Add PagerDuty service to team service catalog
  services/incident-io-importer.jsonnet
  services/service-catalog-schema.json
  services/teams.yml
Owners: none

Fix Kibana parameters
  metrics-catalog/services/web.jsonnet
Owners: none

make generate updates
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Owners: none

Add alerts for the middleware path traversal
  metrics-catalog/services/web.jsonnet
Owners: none

Update all requests selector
  metrics-catalog/services/web.jsonnet
Owners: none

Update description
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Owners: none

Update generated files
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Owners: none

Apply review feedback
  metrics-catalog/services/web.jsonnet
Owners: none

Re-create generated files
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
Owners: none

Run another generation pass
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Owners: none

Add escalation path field to the incident.io catalog
  services/incident-io-importer.jsonnet
Owners: none

Add catalog syncing jobs to CI
  .gitlab-ci.yml
Owners: none

Override entrypoint for catalog-sync
  .gitlab-ci.yml
Owners: none

Change manager of Gitaly team to John Cai
  services/teams.yml
Owners: none

Notes added by 'git notes add'
  9d3a68d76b5b6f9654babbe0733ac73b48294910
Owners: none

fix: revert Workhorse conversion from route to route_id"
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Owners: none

Notes added by 'git notes add'
  bd310a51ed792828f9ff8f0471a470a0d674a9e7
Owners: none

fix: some minior fixes
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/logging.libsonnet
  mixins-monitoring/hosted-runners/dashboards/main.libsonnet
  mixins-monitoring/hosted-runners/lib/alerts-generator.libsonnet
  mixins-monitoring/hosted-runners/lib/logging.libsonnet
  mixins-monitoring/hosted-runners/lib/rules-generator.libsonnet
  mixins-monitoring/hosted-runners/overrides/gitlab-metrics-config.libsonnet
Owners: none

chore(clickhouse): Temporarily bump monitoring thresholds to 100%
  metrics-catalog/services/clickhouse-cloud.jsonnet
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
Owners: none
